<aside id="aside" class="container">
  <div class="container global-aside">
    <div class="container tab">
      <a href="/" target="_blank" rel="noopener noreferrer">rsanttos</a>

      <div class="container closeMenu" onclick="closeNav();">
        <p>&#10008;</p>
      </div>
    </div>

    <h3>JavaScript</h3>
    <ul class="container">
      <li class="container">
        <a 
          href="/doc/javascript/introducao/"
        >01 Introdução</a>
      </li>

      <li class="container">
        <a 
          href="/doc/javascript/objects/"
        >02 Objects</a>
      </li>

      <li class="container" style="display: none;">
        <a 
          href="../../../../../intl/pt-br/doc/javascript/arrow-function/"
        >03 Arrow Functions</a>
      </li>

      <li class="container" style="display: none;">
        <a 
          href="#"
          target="_blank" 
          rel="noopener noreferrer"
        >04 Destructuring</a>
      </li>

      <li class="container" style="display: none;">
        <a 
          href="#"
          target="_blank" 
          rel="noopener noreferrer"
        >05 Rest / Spread</a>
      </li>

      <li class="container" style="display: none;">
        <a 
          href="#"
          target="_blank" 
          rel="noopener noreferrer"
        >06 Modules</a>
      </li>

      <li class="container" style="display: none;">
        <a 
          href="#"
          target="_blank" 
          rel="noopener noreferrer"
        >07 Fetch</a>
      </li>

      <li class="container" style="display: none;">
        <a 
          href="#"
          target="_blank" 
          rel="noopener noreferrer"
        >08 Async / Await</a>
      </li>

      <li class="container" style="display: none;">
        <a 
          href="#"
          target="_blank" 
          rel="noopener noreferrer"
        >09 Filter / Map / Reduce</a>
      </li>

      <li class="container" style="display: none;">
        <a 
          href="#"
          target="_blank" 
          rel="noopener noreferrer"
        >10 Expressões</a>
      </li>
    </ul>
  </div>
</aside>