<aside id="aside" class="container">
  <div class="container global-aside">
    <div class="container tab">
      <a href="/" target="_blank" rel="noopener noreferrer">rsanttos</a>

      <div class="container closeMenu" onclick="closeNav();">
        <p>&#10008;</p>
      </div>
    </div>

    <h3>Outros Links</h3>
    <ul class="container">
      <li class="container">
        <a 
          href="/doc/javascript/introducao/"
        >01 JavaScript</a>
      </li>

      <li class="container">
        <a 
          href="https://play.google.com/store/apps/dev?id=8255759121811254778" 
          target="_blank" 
          rel="noopener noreferrer"
        >02 Google Play</a>
      </li>
    </ul>
  </div>
</aside>