<main id="main" class="container">
  <!-- DATE POST -->
  <section id="tab" class="container">
    <div class="container date-post" id="tab-date">
      <p><time datetime="{{dates}}">{{datesBR}}</time></p>
      <div class="container btn-menu" onclick="openNav();">
        <span class="container"></span>
        <span class="container"></span>
        <span class="container"></span>
      </div>
    </div>
  </section>

  <!-- ADSENSES CONTAINER -->
  <section id="adsenses" class="container">

  </section>

  <!-- BOX ARTICLE CONTAINER -->
  <section id="box-article" class="container">
    <!-- ARTICLE CONTAINER -->
    <article id="article" class="container">        
      <!-- HEADER ARTICLE -->
      <header id="header-article" class="container">
        <h1>{{title}}</h1>
        <p>{{caption}}</p>
      </header>

      <!-- POST CONTAINER -->
      <div class="container post">
        {{text}}
      </div>
    </article>

    <!-- ASIDE CONTAINER -->
    {{aside}}
  </section>
</main>